html {
  height: 100% !important; }

body {
  height: 100% !important;
  padding-top: 60px; }

body.nopadding {
  padding-top: 45px; }

h3 {
  margin-bottom: 18px; }

p {
  margin-bottom: 10px; }

.row {
  margin: 0 0 40px 0; }

.notification {
  z-index: 2000;
  position: fixed;
  top: 10px;
  right: 10px; }

.navbar-brand {
  padding: 0 10px 0 0 !important; }

.footer, #wrapper:after {
  height: 50px; }

#wrapper:after {
  content: "";
  display: block; }

.footer {
  background-color: #F5F5F5;
  padding: 8px 0; }
  .footer .container {
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
    line-height: 30px; }

.sign-up {
  margin-bottom: 13vh; }

.delete_user {
  color: #000000; }
  .delete_user:hover {
    color: #000000; }

.popover-table {
  width: 100%; }
  .popover-table td {
    padding: 10px 5px 5px; }
    .popover-table td em {
      font-size: 11px; }
  .popover-table th {
    padding: 5px;
    border-bottom: 1px solid #DDDDDD; }

.info-list {
  padding-left: 15px; }
  .info-list em {
    font-size: 11px; }

.search-container {
  padding-bottom: 10px; }
  .search-container .search {
    width: 250px;
    float: right; }

@media (max-width: 768px) {
  .search-container {
    padding: 0 10px 10px; }
    .search-container .search {
      width: 100%; } }
#adfinislogo {
  height: 30px; }

#logo {
  height: 35px;
  margin: 5px 0 5px; }

.wrapper {
  min-height: 100%;
  margin-bottom: -50px; }

.footer-text {
  color: #999999;
  display: inline-block;
  line-height: 30px; }

.footer-link {
  color: #999999;
  display: inline-block;
  line-height: 30px;
  margin-right: 15px; }
  .footer-link:hover, .footer-link:link, .footer-link:active, .footer-link:visited {
    color: #999999;
    text-decoration: none; }

.navbar {
  margin-bottom: 20px;
  border-radius: 0px; }

address {
  margin: 40px auto 0px 40px;
  font-size: 12px;
  font-style: italic; }

#tabs {
  margin-top: 25px; }

.notification .alert:hover {
  opacity: 0.7;
  cursor: pointer; }

.carousel-caption {
  color: #282828; }
  .carousel-caption p {
    font-size: 20px; }

.fa.btn {
  margin: 0; }

.btn-xs {
  height: 22px;
  width: 22px;
  padding: 2px 6px 6px; }

.form-control {
  width: 300px; }

.ghost-button {
  display: flex;
  width: auto;
  border: 2px solid #282828;
  background-color: transparent;
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 3vh;
  margin-top: 5vh; }

.ghost-button-div {
  display: flex;
  justify-content: center; }

.front-page {
  background-color: #4ABDAC;
  height: 100vh; }

.col-xs-12.col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  height: 40vh; }

.col-xs-12.col-md-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 40vh; }

.col-xs-12.col-md-4.col-md-push-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  height: 40vh; }

.col-xs-12.col-md-8.col-md-pull-4 {
  height: 40vh; }

.col-xs-12.col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  height: 40vh; }

h1.text-center {
  font-size: 5vh;
  margin-top: 5vh;
  margin-bottom: 5vh; }

p.text-center {
  font-size: 3vh; }

h1.how-it-works {
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
  font-size: 6vh; }

p {
  font-size: 1.2em; }

.c2 {
  margin: 0 auto; }

.c4 {
  margin: 0 auto; }

.c3 {
  display: block;
  margin: 0 auto; }

.logo-front-page {
  display: flex;
  justify-content: center;
  align-content: center; }

.l1 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 25vh;
  margin-top: 3vh; }

.arrow-wrap {
  position: relative;
  z-index: 1;
  left: 50%;
  top: -5em;
  margin-left: -5em;
  background: #111;
  width: 10em;
  height: 10em;
  padding: 4em 2em;
  border-radius: 50%;
  font-size: 0.5em;
  display: block;
  box-shadow: 0px 0px 5px 0px #333;
  margin-top: 20vh; }

.arrow {
  float: left;
  position: relative;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #ffffff transparent transparent transparent;
  webkit-transform: rotate(360deg); }

.arrow:after {
  content: "";
  position: absolute;
  top: -3.2em;
  left: -3em;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #111 transparent transparent transparent;
  webkit-transform: rotate(360deg); }

#logo1 {
  height: 12vh; }
