{% extends 'index.html' %}

{% load staticfiles %}

{% block title %}- Statistics{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <ul class="nav nav-pills nav-stacked" id="tabs">
                <li class="active"><a data-toggle="pills" href="#week">Last 7 Days</a></li>
                <li><a data-toggle="pills" href="#month">Last 30 Days</a></li>
                <li><a data-toggle="pills" href="#alltime">All Time</a></li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="col-md-8 pull-right tab-pane fade" id="alltime">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#alltime-users" role="tab" data-toggle="tab">Users</a></li>
                <li><a href="#alltime-addresses" role="tab" data-toggle="tab">Addresses</a></li>
                <li><a href="#alltime-oblivious" role="tab" data-toggle="tab">Oblivious</a></li>
                <li><a href="#alltime-mails" role="tab" data-toggle="tab">Mails</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="alltime-users">
                    <h2>Top 10 Users:</h2>
                    <table class="table table-striped statistic">
                        <thead>
                            <th>#</th>
                            <th>User</th>
                            <th>Mails</th>
                        </thead>
                        <tbody>
                            {% for user in users_alltime %}
                                <tr>
                                    <td class="col-md-1">{{ forloop.counter }}</td>
                                    <td>{{ user.email }}</td>
                                    <td class="text-right col-md-1">{{ user.id__count }}</td>
                                </tr>
                            {% endfor %}
                        <tbody>
                    </table>
                </div>
                <div class="tab-pane" id="alltime-addresses">
                    <h2>Top 10 Addresses:</h2>
                    <table class="table table-striped statistic">
                        <thead>
                            <th>#</th>
                            <th>Address</th>
                            <th>Mails</th>
                        </thead>
                        <tbody>
                            {% for address in addresses_alltime %}
                                <tr>
                                    <td class="col-md-1">{{ forloop.counter }}</td>
                                    <td>{{ address.email }}</td>
                                    <td class="text-right col-md-1">{{ address.id__count }}</td>
                                </tr>
                            {% endfor %}
                        <tbody>
                    </table>
                </div>
                <div class="tab-pane" id="alltime-oblivious">
                    <h2>Top 10 Oblivious:</h2>
                    <table class="table table-striped statistic">
                        <thead>
                            <th>#</th>
                            <th>Address</th>
                            <th>Mails</th>
                        </thead>
                        <tbody>
                            {% for oblivious in oblivious_alltime %}
                                <tr>
                                    <td class="col-md-1">{{ forloop.counter }}</td>
                                    <td>{{ oblivious.email }}</td>
                                    <td class="text-right col-md-1">{{ oblivious.id__count }}</td>
                                </tr>
                            {% endfor %}
                        <tbody>
                    </table>
                </div>
                <div class="tab-pane" id="alltime-mails">
                    <h2>Mails:</h2>
                    <table class="table table-striped statistic">
                        <thead>
                            <th colspan="2">Mails</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Received:</td>
                                <td class="text-right col-md-1">{{ received_alltime }}</td>
                            </tr>
                            <tr>
                                <td>Sent:</td>
                                <td class="text-right col-md-1">{{ sent_alltime }}</td>
                            </tr>
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-8 pull-right tab-pane fade" id="month">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#month-users" role="tab" data-toggle="tab">Users</a></li>
                <li><a href="#month-addresses" role="tab" data-toggle="tab">Addresses</a></li>
                <li><a href="#month-oblivious" role="tab" data-toggle="tab">Oblivious</a></li>
                <li><a href="#month-mails" role="tab" data-toggle="tab">Mails</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="month-users">
                    <h2>Top 10 Users:</h2>
                    <table class="table table-striped statistic">
                        <thead>
                            <th>#</th>
                            <th>User</th>
                            <th>Mails</th>
                        </thead>
                        <tbody>
                            {% for user in users_month %}
                                <tr>
                                    <td class="col-md-1">{{ forloop.counter }}</td>
                                    <td>{{ user.email }}</td>
                                    <td class="text-right col-md-1">{{ user.id__count }}</td>
                                </tr>
                            {% endfor %}
                        <tbody>
                    </table>
                </div>
                <div class="tab-pane" id="month-addresses">
                    <h2>Top 10 Addresses:</h2>
                    <table class="table table-striped statistic">
                        <thead>
                            <th>#</th>
                            <th>Address</th>
                            <th>Mails</th>
                        </thead>
                        <tbody>
                            {% for address in addresses_month %}
                                <tr>
                                    <td class="col-md-1">{{ forloop.counter }}</td>
                                    <td>{{ address.email }}</td>
                                    <td class="text-right col-md-1">{{ address.id__count }}</td>
                                </tr>
                            {% endfor %}
                        <tbody>
                    </table>
                </div>
                <div class="tab-pane" id="month-oblivious">
                    <h2>Top 10 Oblivious:</h2>
                    <table class="table table-striped statistic">
                        <thead>
                            <th>#</th>
                            <th>Address</th>
                            <th>Mails</th>
                        </thead>
                        <tbody>
                            {% for oblivious in oblivious_month %}
                                <tr>
                                    <td class="col-md-1">{{ forloop.counter }}</td>
                                    <td>{{ oblivious.email }}</td>
                                    <td class="text-right col-md-1">{{ oblivious.id__count }}</td>
                                </tr>
                            {% endfor %}
                        <tbody>
                    </table>
                </div>
                <div class="tab-pane" id="month-mails">
                    <h2>Mails:</h2>
                    <table class="table table-striped statistic">
                        <thead>
                            <th colspan="2">Mails</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Received:</td>
                                <td class="text-right col-md-1">{{ received_month }}</td>
                            </tr>
                            <tr>
                                <td>Sent:</td>
                                <td class="text-right col-md-1">{{ sent_month }}</td>
                            </tr>
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-8 pull-right tab-pane fade in active" id="week">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#week-users" role="tab" data-toggle="tab">Users</a></li>
                <li><a href="#week-addresses" role="tab" data-toggle="tab">Addresses</a></li>
                <li><a href="#week-oblivious" role="tab" data-toggle="tab">Oblivious</a></li>
                <li><a href="#week-mails" role="tab" data-toggle="tab">Mails</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="week-users">
                    <h2>Top 10 Users:</h2>
                    <table class="table table-striped statistic">
                        <thead>
                            <th>#</th>
                            <th>User</th>
                            <th>Mails</th>
                        </thead>
                        <tbody>
                            {% for user in users_week %}
                                <tr>
                                    <td class="col-md-1">{{ forloop.counter }}</td>
                                    <td>{{ user.email }}</td>
                                    <td class="text-right col-md-1">{{ user.id__count }}</td>
                                </tr>
                            {% endfor %}
                        <tbody>
                    </table>
                </div>
                <div class="tab-pane" id="week-addresses">
                    <h2>Top 10 Addresses:</h2>
                    <table class="table table-striped statistic">
                        <thead>
                            <th>#</th>
                            <th>Address</th>
                            <th>Mails</th>
                        </thead>
                        <tbody>
                            {% for address in addresses_week %}
                                <tr>
                                    <td class="col-md-1">{{ forloop.counter }}</td>
                                    <td>{{ address.email }}</td>
                                    <td class="text-right col-md-1">{{ address.id__count }}</td>
                                </tr>
                            {% endfor %}
                        <tbody>
                    </table>
                </div>
                <div class="tab-pane" id="week-oblivious">
                    <h2>Top 10 Oblivious:</h2>
                    <table class="table table-striped statistic">
                        <thead>
                            <th>#</th>
                            <th>Address</th>
                            <th>Mails</th>
                        </thead>
                        <tbody>
                            {% for oblivious in oblivious_week %}
                                <tr>
                                    <td class="col-md-1">{{ forloop.counter }}</td>
                                    <td>{{ oblivious.email }}</td>
                                    <td class="text-right col-md-1">{{ oblivious.id__count }}</td>
                                </tr>
                            {% endfor %}
                        <tbody>
                    </table>
                </div>
                <div class="tab-pane" id="week-mails">
                    <h2>Mails:</h2>
                    <table class="table table-striped statistic">
                        <thead>
                            <th colspan="2">Mails</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Received:</td>
                                <td class="text-right col-md-1">{{ received_week }}</td>
                            </tr>
                            <tr>
                                <td>Sent:</td>
                                <td class="text-right col-md-1">{{ sent_week }}</td>
                            </tr>
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bottomscripts %}
    <script src="{% static 'js/mailtable.js' %}"></script>
    <script>
        $('#tabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    </script>
{% endblock %}
