html, body {
    height: 100%;
}

body {
    padding-top: 70px;
}

#howto-list {
    margin-top: 40px;
}

#join-us {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

#example {
    margin: 0 auto;
}

.navbar-brand {
    padding: 0 0 0 15px;
}

.footer {
    background-color: #F5F5F5;
    height: 50px;
    padding: 10px 0;
}

    .footer .container {
        margin-top: 0px;
        margin-bottom: 0px;
        vertical-align: middle;
        line-height: 30px;
    }

#searchMails {
    width: 250px;
    float: right;
    margin: 0 0 10px;
}

#settings-alerts .alert {
    margin: 15px 0 0;
}

#adsylogo {
    height: 30px;
}

#logo {
    height: 50px;
}

.wrapper {
    height: auto;
    margin: 0 auto -50px;
    min-height: 100%;
    padding: 0 0 60px;
}

.footer-text {
    color: #999999;
    display: inline-block;
    line-height: 30px;
}

.footer-link {
    color: #999999;
    display: inline-block;
    line-height: 30px;
    margin-right: 15px;
}

    .footer-link:hover,
    .footer-link:link,
    .footer-link:active,
    .footer-link:visited {
        color: #999999;
        text-decoration: none;
    }

.glyphicon-user,
.glyphicon-off,
.glyphicon-stats,
.glyphicon-save,
.glyphicon-wrench {
    margin-right: 10px;
}

.form-datetime {
    width:100%;
    margin-bottom:-21px;
}

.duedate {
    max-width:100%;
}

.delete {
    width:20px;
}

.navbar {
    margin-bottom: 20px;
    border-radius: 0px;
}

.date-button {
    background: transparent;
    border: none;
    padding-top: 2px;
    margin: 0 5px;
    float: right;
}

.centered-text {
    text-align: center !important;
}

.statistic thead th:last-child,
.statistic tbody tr td:last-child {
    text-align: right;
}

.delete-address,
.delete-button {
    color: #000000;
    text-decoration: none;
    float: right;
    padding: 2px 2px;
}

    .delete-address:hover,
    .delete-address:link,
    .delete-address:active,
    .delete-address:visited,
    .delete-button:hover,
    .delete-button:link,
    .delete-button:active,
    .delete-button:visited {
        color: #000000;
        text-decoration:none;
    }
