html, body {
    height: 100%;
}

body {
    padding-top: 70px;
}

hr {
    margin-top:30px;
}

#howto-list {
    margin-top:50px;
}

#join-us {
    margin-top:40px;
    text-align:center;
}

#wrap {
    height: auto;
    margin: 0 auto -50px;
    min-height: 100%;
    padding: 0 0 60px;
}

#footer {
    background-color: #F5F5F5;
    height: 50px;
    padding: 10px 0px;
}

    #footer .container {
        margin-top:0px;
        margin-bottom:0px;
        vertical-align:middle;
        line-height:30px;
    }

#searchMails {
    width:250px;
}

#dropdown {
    float:right;
    padding-left:5px;
}

#adsylogo {
    height:30px;
}

#provider {
    display:inline;
    float:right;
}

#logo {
    height:50px;
    margin:0px;
}

#terms {
    display:inline;
    line-height:30px
}

.navbar .nav {
    -webkit-transform:translate3d(0px, 0px , 0px);
}

.navbar-btn {
    margin-top:14px;
}

.footer-text {
    color:#999999;
}

    .footer-text:hover {
        color:#999999;
        text-decoration:none;
    }

    .footer-text:visited {
        color:#999999;
        text-decoration:none;
    }

.glyphicon-user {
    margin-right:10px;
}

.form-datetime {
    width: 300px;
    margin-bottom:-21px;
}
.navbar-brand {
    padding:0px 5px 0px 15px;
}

.sent-date {
    width:250px;
}

.due-date {
    width:30px
}

.delete {
    width:20px;
}

.tooltip-inner {
    width:120px;
}

.navbar {
    margin-bottom: 20px;
    border-radius: 0px;
}

.date-button {
    background: transparent;
    border: none;
    padding-top: 2px;
    margin: 0px 5px;
    float:right;
}

.delete-button {
    color:black;
    text-decoration:none;
    float:right;
    padding: 2px 2px;
}

    .delete-button:hover {
        color:black;
        text-decoration:none;
    }

    .delete-button:visited {
        color:black;
        text-decoration:none;
    }
