html
  height: 100%

body
  height: 100%
  padding-top: 70px

.notification
  z-index: 2000
  position: fixed
  top: 10px
  right: 10px

.navbar-brand
  padding: 0 0 0 15px !important

.footer
  background-color: #F5F5F5
  height: 50px
  padding: 10px 0
  .container
    margin-top: 0px
    margin-bottom: 0px
    vertical-align: middle
    line-height: 30px

.popover-table
  width: 100%
  td
    padding: 10px 5px 5px
    em
      font-size: 11px
  th
    padding: 5px
    border-bottom: 1px solid #DDDDDD

.recipients
  padding-left: 15px
  em
    font-size: 11px

.search
  width: 250px
  float: right

@media (max-width: 768px)
  .searchMails
    margin-right: 10px

#adsylogo
  height: 30px

#logo
  height: 50px

.wrapper
  height: auto
  margin: 0 auto -50px
  min-height: 100%
  padding: 0 0 60px

.footer-text
  color: #999999
  display: inline-block
  line-height: 30px

.footer-link
  color: #999999
  display: inline-block
  line-height: 30px
  margin-right: 15px
  &:hover, &:link, &:active, &:visited
    color: #999999
    text-decoration: none

.navbar
  margin-bottom: 20px
  border-radius: 0px

.date
  width: 80px
  background: transparent !important
  border: none
  padding: 0
  margin: 0
  box-shadow: none
  height: 20px
  color: #333
  cursor: text !important
  user-select: text !important
  -moz-user-select: text !important
  -webkit-user-select: text !important
  .form-control, .input-group-addon
    background: transparent !important
    border: none
    padding: 0
    margin: 0
    box-shadow: none
    height: 20px
    color: #333
    cursor: text !important
    user-select: text !important
    -moz-user-select: text !important
    -webkit-user-select: text !important

.fa.btn
  margin: 0

.address
  margin: 40px auto 0px 40px
  font-size: 12px
  font-style: italic

.btn-xs
  height: 22px
  width: 22px

#tabs
  margin-top: 25px
