<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Help</h3>
        </div>
        <div class="modal-body">
            <h3>What is rmd.io?</h3>
            <p>
                <strong>rmd.io</strong> is a service, who reminds you about unanswered mails and helps you
                to manage delegated tasks.<br>
                <br>
                For example: send a mail at '5d@rmd.io' and we'll send you the mail back 5
                days later. This also works with 'w' for weeks and 'm' for months.
            </p>
            <h3>Delay Addresses <small>(<a href="/maildelay.vcf">Download</a>)</small></h3>
            <p>Here are some possible delay addresses to use:</p>
            <table class="table table-striped table-condensed">
                <thead>
                    <th>d for days</th>
                    <th>w for weeks</th>
                    <th>m for months</th>
                </thead>
                <tbody>
                    <tr>
                        <td title="Delay for 1 day">1d@rmd.io</td>
                        <td title="Delay for 1 week">1w@rmd.io</td>
                        <td title="Delay for 1 month">1m@rmd.io</td>
                    </tr>
                    <tr>
                        <td title="Delay for 2 days">2d@rmd.io</td>
                        <td title="Delay for 2 weeks">2w@rmd.io</td>
                        <td title="Delay for 2 months">2m@rmd.io</td>
                    </tr>
                    <tr>
                        <td title="Delay for 3 days">3d@rmd.io</td>
                        <td title="Delay for 3 weeks">3w@rmd.io</td>
                        <td title="Delay for 3 months">3m@rmd.io</td>
                    </tr>
                    <tr>
                        <td title="Delay for 4 days">4d@rmd.io</td>
                        <td title="Delay for 4 weeks">4w@rmd.io</td>
                        <td title="Delay for 4 months">4m@rmd.io</td>
                    </tr>
                    <tr>
                        <td title="Delay for 5 days">5d@rmd.io</td>
                        <td title="Delay for 5 weeks">5w@rmd.io</td>
                        <td title="Delay for 5 months">5m@rmd.io</td>
                    </tr>
                    <tr>
                        <td title="Delay for 6 days">6d@rmd.io</td>
                        <td title="Delay for 6 weeks">6w@rmd.io</td>
                        <td title="Delay for 6 months">6m@rmd.io</td>
                    </tr>
                    <tr>
                        <td title="Delay for 7 days">7d@rmd.io</td>
                        <td title="Delay for 7 weeks">7w@rmd.io</td>
                        <td title="Delay for 7 months">7m@rmd.io</td>
                    </tr>
                    <tr>
                        <td title="Delay for 8 days">8d@rmd.io</td>
                        <td title="Delay for 8 weeks">8w@rmd.io</td>
                        <td title="Delay for 8 months">8m@rmd.io</td>
                    </tr>
                    <tr>
                        <td title="Delay for 9 days">9d@rmd.io</td>
                        <td title="Delay for 9 weeks">9w@rmd.io</td>
                        <td title="Delay for 9 months">9m@rmd.io</td>
                    </tr>
                    <tr>
                        <td title="Delay for 10 days">10d@rmd.io</td>
                        <td title="Delay for 10 weeks">10w@rmd.io</td>
                        <td title="Delay for 10 months">10m@rmd.io</td>
                    </tr>
                    <tr>
                        <td title="Delay for 11 days">11d@rmd.io</td>
                        <td title="Delay for 11 weeks">11w@rmd.io</td>
                        <td title="Delay for 11 months">11m@rmd.io</td>
                    </tr>
                    <tr>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                </tbody>
            </table>
            <p>
            <strong>Only 'd', 'w' and 'm' are possible!</strong><br>
            These addresses <strong>aren't</strong> possible:</p>
            <table class="table table-striped table-condensed">
                <thead>
                    <th>s for seconds</th>
                    <th>m for minutes</th>
                    <th>y for years</th>
                </thead>
                <tbody>
                    <tr>
                        <td title="Delay for 1 second">1s@rmd.io</td>
                        <td title="Delay for 1 minute">1m@rmd.io</td>
                        <td title="Delay for 1 year">1y@rmd.io</td>
                    </tr>
                    <tr>
                        <td title="Delay for 2 seconds">2s@rmd.io</td>
                        <td title="Delay for 2 minutes">2m@rmd.io</td>
                        <td title="Delay for 2 years">2y@rmd.io</td>
                    </tr>
                    <tr>
                        <td title="Delay for 3 seconds">3s@rmd.io</td>
                        <td title="Delay for 3 minutes">3m@rmd.io</td>
                        <td title="Delay for 3 years">3y@rmd.io</td>
                    </tr>
                    <tr>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                </tbody>
            </table>
            <h3>Anti Spam</h3>
            <h4>Why should I use the anti-spam measure?</h4>
            <p>
                The anti-spam measure protects you from getting spammed. If you enable it, 
                you won't get any mails from faked senders.
            </p>
            <h4>What does it do?</h4>
            <p>
                The anti-spam measure gives every user a own anti-spam key. It checks if the
                key from the mails sender is the same as the user key. If not, it won't import it.
            </p>
            <h4>How can I use it?</h4>
            <p>
                First, you have to enable the anti-spam measure in the settings. You find them at the dropdown in the navigation.
                After you've enabled it, you have to download the vCard. There you get some delay addresses with your key in it.
                If you send now a mail to rmd.io, you must include this key to the recipient (e.g 1d.yourkey@rmd.io).
            </p>
            <h3>Additonal Addresses</h3>
            <h4>What is the additional addresses function for?</h4>
            <p>
                The additional addresses function allows you, to add more than one address, from where you can send mails.
                So you don't have to register with all your addresses.
            </p>
            <h4>How can I use it?</h4>
            <p>
                Go to the settings and write your address in the form, click save, done! You will get a mail to the address you've added.
                There's a link in it, to activate the address. Click this link or it won't work.
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
