<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Help</h4>
        </div>
        <div class="modal-body">
            <h4>What is rmd.io?</h4>
            <p>
                Missed an important deadline again? Forgot another due date? Too lazy to
                create a reminder in one of those unusable reminder-apps?<br>
                Forget that stuff, here's rmd.io! The only thing you need to do is, to
                send a mail to us, and we will remind you automagically on the date you
                set.<br>
                <br>
                What a wonderful time to be alive.<br>
                <br>
                It's as simple as breathing.<br>
                For example: send a mail at '5d@rmd.io' and we'll send you the mail back 5
                days later. This also works with 'w' for weeks and 'm' for months.
            </p>
            <br>
            <h4>Anti Spam</h4>
            <p>
                For default, the anti-spam-measure is disabled.<br>
                If you enable it in your personal settings, you have to download the new delay-addresses.
                You find the download link in the dropdown in the navbar.
                Mail sent to '1d@rmd.io', will be deleted, so you <strong>have to</strong>
                use the new addresses.<br>
                You can use this key on every delay-address (e.g. '99m.yourkey@rmd.io').
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
