<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Help</h4>
        </div>
        <div class="modal-body">
            <h4>What is rmd.io?</h4>
                <p>
                    <strong>rmd.io</strong> is a simple, usefull and free mail-reminder.
                    In the web interface you can manage mails, you sent to a delay address of rmd.io.
                    You determine a date when you want to get reminded and you'll get your mail sent back then.
                </p>
            <h4>First Usage</h4>
            <ol>
                <li>Register</li>
                <li>Download vCard (click on the button in the navigation)</li>
                <li>Send your mail to the appropriate address</li>
            </ol>
            <h4>Delay Adresses</h4>
                <p>
                    In the vCard are just few of addresses as an example to use. 
                    You can use your own delay-addresses (e.g. '1337w@rmd.io', this would delay it 1337 weeks).<br>
                    Use d for days, w for weeks and m for months.
                </p>
            <h4>Anti Spam</h4>
            <p>
                For default, the anti-spam-measure is disabled.<br>
                If you enable it in your personal settings, you have to download the new delay-addresses.
                A mail, sended to '1d@rmd.io', will get deleted, so you <strong>have to</strong>
                use the new addresses.<br>
                You can use this code on every delay-address (e.g. '99m.yourkey@rmd.io').
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
