{% extends 'base_index.html' %}

{% load staticfiles %}

{% block title %}rmd.io - your friendly mail reminder{% endblock %}

{% block content %}
    {{ mail.subject }}
    {% if user.is_anonymous %}
        <div class="page-header">
            <h1>rmd.io<small> your friendly mail reminder</small></h1>
        </div>
        <div class="row">
            <div class="col-md-8">
                <img src="{% static 'images/example.png' %}" style="width:750px">
            </div>
            <div class="col-md-4">
                <ol id=howto-list>
                    <li>Register</li>
                    <li>Download addresses</li>
                    <li>Send your mail</li>
                    <li>Manage your mails at rmd.io</li>
                    <li>Get reminded</li>
                </ol>
            </div>
        </div>
        <div class="row" id="join-us">
            <div class="col-md-12">
                <a class="browserid-login btn btn-primary btn-lg" role="button">Join us now!</a>
            </div>
        </div>
    {% elif mails %}
        <form role="form" method="post">
            <div class="form-group pull-right">
                <input type="text" class="form-control" id="searchMails" placeholder="Search">
            </div>
        </form>
        {% include "mails/table.html" %}
    {% else %}
        <div class="alert alert-info">There aren't any mails!</div>
    {% endif %}
    <div class="modal fade" id="error_popup" style="display:none" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Error</h4>
                </div>
                <div class="modal-body">
                    <p>Something went wrong. Please try again.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btnprimaryy" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{%block bottomscripts%}
    <script src="{% static 'bootstrap-datetimepicker/js/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'jQuery/jquery-ui-1.10.3.custom.js' %}"></script>
    <script src="{% static 'mailtable.js' %}"></script>
{%endblock%}
