{% extends 'base_index.html' %}

{% load staticfiles %}

{% block title %}rmd.io - your friendly mail reminder{% endblock %}

{% block content %}
    {{ mail.subject }}
    {% if user.is_anonymous %}
        <div class="jumbotron">
            <h1>Welcome to rmd.io!</h1>
            <p>Content here...</p>
            <p><a class="browserid-login btn btn-primary btn-lg" role="button">Login</a></p>
        </div>
    {% elif mails %}
        <form role="form" method="post">
            <div class="form-group pull-right">
                <input type="text" class="form-control" id="searchMails" placeholder="Search">
            </div>
        </form>
        {% include "mails/table.html" %}
    {% else %}
        <div class="alert alert-info">There aren't any mails!</div>
    {% endif %}
{% endblock %}

{%block bottomscripts%}
    <script src="{% static 'bootstrap-datetimepicker/js/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'moment.js' %}"></script>
    <script src="{% static 'jQuery/jquery-ui-1.10.3.custom.js' %}"></script>
    <script src="{% static 'mailtable.js' %}"></script>
{%endblock%}
