{% extends 'base_index.html' %}

{% load staticfiles %}

{% block title %}rmd.io - your friendly mail reminder{% endblock %}

{% block content %}
    {% if user.is_anonymous %}
        <div class="page-header">
            <h1>rmd.io<small> your friendly mail reminder</small></h1>
        </div>
        <img src="{% static 'images/example.png' %}" class="img-responsive" id="example">
        <div id="join-us">
            <button class="browserid-login btn btn-primary btn-lg" type="button">Join us now!</button>
        </div>
    {% elif mails %}
        <input type="text" class="form-control" id="searchMails" placeholder="Search">
        {% include "mails/table.html" %}
    {% else %}
        <div class="alert alert-info">There aren't any mails!</div>
    {% endif %}
    <div class="modal fade" id="error_popup" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Error</h4>
                </div>
                <div class="modal-body">
                    <p>Something went wrong. Please try again.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{%block bottomscripts%}
    <script src="{% static 'bootstrap-datetimepicker/js/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'jQuery/jquery-ui-1.10.3.custom.js' %}"></script>
    <script src="{% static 'mailtable.js' %}"></script>
{%endblock%}
