{% extends 'index.html' %}

{% load staticfiles %}

{% block content %}
    <div class="row">
        <input type="text" class="form-control pull-right" id="searchMails" placeholder="Search...">
    </div>
    <div class="row" id="list">{%include 'mails/mails_table.html'%}</div>
{% endblock %}

{%block bottomscripts%}
    <script src="{% static 'lib/moment/moment.js' %}"></script>
    <script src="{% static 'lib/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'mailtable.js' %}"></script>
{%endblock%}
