<table class='popover-table'>
    <tr>
        <th>
            <strong>Sender:</strong>
        <th>
    </tr>
    <tr>
        <td>
            {{ mail.user.email }}
        </td>
    </tr>
    <tr>
        <th>
            <strong>Recipient{% if mail.recipient_set.count > 1 %}s{% endif %}:</strong>
        </th>
    </tr>
    {% for recipient in mail.recipient_set.all %}
    <tr>
        <td>
            {% if recipient.name != '' %}
                {{ recipient.name }} <br><em>({{ recipient.email }})</em>
            {% else %}
                {{ recipient.email }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
