<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Settings</h4>
        </div>
        <div class="modal-body" id="settings">
            <h4>Settings</h4>
            <label>
                {{ anti_spam.anti_spam }}
                Enable anti-spam-measures
            </label>
            <h4>Additonal Addresses</h4>
            <table class="table table-hover" id="additional_addresses">
            {% for address in additional_addresses %}
                <tr>
                    <td>{{ address.address }}</td>
                    <td><a href="#" class="delete-address glyphicon glyphicon-remove" id="{{ address.id }}"></a></td>
                </tr>
            {% endfor %}
            </table>
            <input class="form-control" type="text" id="address" name="address" maxlength="200">
            <div id="settings-alerts">
                {% for alert in alerts %}
                    {% include alert %}
                {% endfor %}
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="submit">Save</button>
        </div>
    </div>
</div>
