<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Settings</h3>
        </div>
        <div class="modal-body" id="settings">
            <h3>Anti-Spam</h3>
            <label>
                {{ anti_spam.anti_spam }}
                Enable anti-spam measure
            </label>
            {% if user.settings.anti_spam %}
            <p>Your key: <strong>{{ user.userkey.key }}</strong></p>
            {% endif %}
            <h3>Additonal Addresses</h3>
            <table class="table table-striped" id="additional_addresses">
            {% for address in additional_addresses %}
                <tr>
                    <td>{{ address.address }}{% if address.is_activated == False %} <small>(needs activation)</small>{% endif %}</td>
                    <td><a href="#" class="delete-address glyphicon glyphicon-remove" id="{{ address.id }}" title="Delete Address"></a></td>
                </tr>
            {% endfor %}
            </table>
            <input class="form-control" type="text" id="address" name="address" maxlength="200" placeholder="example@example.com">
            <div id="settings-alerts">
                {% for alert in alerts %}
                    {% include alert %}
                {% endfor %}
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="submit">Save changes</button>
        </div>
    </div>
</div>
