<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Settings</h3>
        </div>
        <div class="modal-body" id="settings">
            <h3>Anti-Spam</h3>
            <label>
                {{ anti_spam.anti_spam }}
                Enable anti-spam measure
            </label>
            {% if user.settings.anti_spam %}
            <p>Your key: <strong>{{ user_key }}</strong></p>
            {% endif %}
            <h3>Additonal Addresses</h3>
            <table class="table table-striped" id="additional_addresses">
            {% for additional_user in additional_users %}
                <tr>
                    <td>{{ additional_user.email }}
                        {% if additional_user.is_active == False %}
                            <small> (needs activation)</small>
                        {% endif %}
                    </td>
                    <td>
                        <a href="#" class="delete-address glyphicon glyphicon-remove" id="{{ additional_user.id }}" title="Delete Additional Address"></a>
                    </td>
                </tr>
            {% endfor %}
            </table>
            <input class="form-control" type="text" id="address" name="email" placeholder="example@example.com">
            <div id="settings-alerts">
                {% for alert in alerts %}
                    {% include alert %}
                {% endfor %}
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="submit">Save changes</button>
        </div>
    </div>
</div>
