<table class="table table-striped" id="datatable_mails">
    <thead>
        <tr>
            <th>
                Subject
            </th>
            <th>
                Recipient
            </th>
            <th>
                Sent
            </th>
            <th>
                Due
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for mail in mails %}
        <tr class="mailTableRow">
            <td class="subject">
                {{ mail.subject }}
            </td>
            <td class="recipient">
                {{ mail.sent_to }}
            </td>
            <td class="sent">
                {{ mail.sent | date:"Y-m-d H:i"}}
            </td>
            <td class="due-date">
                <form class="form-group duedate" action="/update/{{ mail.id }}/">
                    <div class="input-group date form-datetime">
                        <span class="due-text">{{ mail.due | date:"Y-m-d H:i"}}</span>
                        <span class="input-group-addon date-button">
                            <span title="Edit Date" class="glyphicon glyphicon-pencil"></span>
                        </span>
                        <input name="due{{ mail.id }}" class="date-form" type="hidden" value="{{ mail.due | date:'Y-m-d H:i' }}">
                    </div>
                </form>
            </td>
            <td class="delete">
                <a href="/delete_confirmation/{{ mail.id }}/" title="Delete Mail" class="delete-button glyphicon glyphicon-trash"></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
