{% extends 'index.html' %}

{% load static %}

{% block bodyclass %} class="nopadding"{%endblock%}

{% block header %}
    <div class="row">
        <div class="col-xs-12 col-md-12 front-page">
            <div class="logo-front-page">
                <object class="l1" style="pointer-events:none;" id="logo1" data="{% static 'images/logo_typo.svg' %}" type="image/svg+xml">rmd.io</object>
            </div>
            <h1 class="text-center">
                Never forget to answer<br>
                to an email again<br>
            </h1>
            <p class="text-center">
            rmd.io reminds you about unanswered E-Mails<br>
            and helps you to manage delegated tasks.<br>
            </p>
            <div class="ghost-button-div">
                <button class="ghost-button" onclick="location.href='/registration'" type="button">Sign up now!</button>
            </div>

            <a class="arrow-wrap" href="javascript:void(0)">
                <span class="arrow"></span>
            </a>
        </div>
    </div>
    <div class="container">
        <h1 class="how-it-works">How it works</h1>
        <div class="col-xs-12 col-md-4">
            <p>
            <strong>Create reminders</strong><br>
            Add reminders to your emails.<br>
            Send them to rmd.io.<br>
            3d@rmd.io means you get<br>
            reminded in 3 days.
            </p>
        </div>
        <div class="col-xs-12 col-md-8">
            <img class="img-responsive c2" src="{% static 'images/c2.png' %}" alt="Email Configuration">
        </div>
        <div class="col-xs-12">
            <hr>
        </div>
        <div class="col-xs-12 col-md-4 col-md-push-8">
            <p>
            <strong>Get reminded</strong><br>
            After the due date expired,<br>
            rmd.io will send your mail<br>
            back to you to remind you<br>
            about it.
            </p>
        </div>
        <div class="col-xs-12 col-md-8 col-md-pull-4">
            <img class="img-responsive c4" src="{% static 'images/c4.png' %}" alt="Reminder">
        </div>

        <div class="col-xs-12">
            <hr>
        </div>
        <div class="col-xs-12 col-md-4">
            <p>
            <strong>Manage your mails</strong><br>
            Of course you can manage<br>
            your mails in the web GUI.<br>
            You're able to change the<br>
            due date and time easily.
            </p>
        </div>
        <div class="col-xs-12 col-md-8">
            <img class="img-responsive c3" src="{% static 'images/c3.png' %}" alt="Web GUI">
        </div>
    </div>
    <div class="ghost-button-div">
        <button class="ghost-button sign-up" onclick="location.href='/registration'" type="button">Sign up now!</button>
    </div>
{% endblock %}
