<div class="modal-dialog">
    <div class="modal-content">
        <form action="/settings/" method="post">
            {% csrf_token %}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Settings</h3>
            </div>
            <div class="modal-body" id="settings">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Anti-Spam</strong></div>
                    <div class="panel-body">
                        <label for="anti_spam">
                            <input type="checkbox" id="anti_spam" name="anti_spam" {% if account.anti_spam %}checked{% endif %}> Enable anti-spam measure
                        </label>
                        {% if account.anti_spam %}
                        <br><br><div class="well well-sm" style="margin:0;">Your key: <strong>{{ account.key }}</strong></div>
                        {% endif %}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>E-Mail-Addresses</strong></div>
                    <div class="panel-body">
                        {% include 'mails/settings/user_table.html' %}
                        <div class="input-group">
                            <input class="form-control" type="email" id="email" name="email" placeholder="example@example.com">
                            <span class="input-group-btn">
                                <button class="btn btn-default" id="add_user" type="button">Add email</button>
                            </span>
                        </div>
                    </div>
                </div>
                <a href="/user/delete/confirm/{{user.id}}" class="pull-right" data-target="dialog">delete my account</a>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </form>
    </div>
</div>
