{% load staticfiles %}
{% load browserid %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <link rel="stylesheet" media="screen" href="{% static 'bootstrap/css/bootstrap.css' %}" />
        <link rel="stylesheet" media="screen" href="{% static 'bootstrap/css/bootstrap-theme.css' %}" />
        <link rel="stylesheet" media="screen" href="{% static 'base_style.css' %}" />
        <link rel="stylesheet" media="screen" href="{% static 'bootstrap-datetimepicker/css/bootstrap-datetimepicker.css' %}" />
        <link rel="shortcut icon" href="{% static 'images/titlebar.png' %}" type="image/png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>rmd.io - your friendly mail reminder</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><img id="logo" alt="rmd.io" src="{% static 'images/logo.png' %}"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        {% if user.is_authenticated %}
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i>{{ user.email }}<i class="caret"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="/maildelay.vcf"><i class="glyphicon glyphicon-save"></i>Delay Addresses (vCard)</a></li>
                                        <li><a id="settings" href="/settings"><i class="glyphicon glyphicon-wrench"></i>Settings</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/browserid/logout"><i class="glyphicon glyphicon-off"></i>Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        {% else %}
                            <button type="button" class="browserid-login btn btn-primary navbar-btn navbar-right">Login</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <a id="terms" class="footer-link" href="/terms">Terms & Conditions</a>
                <a id="help" class="footer-link" href="/help">Help</a>
                <div class="pull-right hidden-xs" >
                    <p class="footer-text">Provided by:</p>
                    <a href="https://adfinis-sygroup.ch"><img src="{% static 'images/adsylogo.png' %}" id="adsylogo" alt="Adfinis SyGroup AG"></a>
                </div>
            </div>
        </div>
        <script src="{% static 'jQuery/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
        {%block bottomscripts%}{%endblock%}
        {% browserid_info %}
        {% browserid_js %}
    </body>
</html>
