{% load staticfiles %}
{% load browserid %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <link rel="stylesheet" media="screen" href="{% static 'bootstrap/css/bootstrap.css' %}" />
        <link rel="stylesheet" media="screen" href="{% static 'bootstrap/css/bootstrap-theme.css' %}" />
        <link rel="stylesheet" media="screen" href="{% static 'base_style.css' %}" />
        <link rel="stylesheet" media="screen" href="{% static 'bootstrap-datetimepicker/css/bootstrap-datetimepicker.css' %}" />
        <link rel="shortcut icon" href="{% static 'images/titlebar.png' %}" type="image/png">
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div id="wrap">
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/"><img id="logo" alt="rmd.io" src="{% static 'images/logo.png' %}"></a>
                    </div> <!-- navbar-header -->
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            {% if user.is_staff %}
                                <li>
                                    <a href="/admin">Admin</a>
                                </li>
                            {% endif %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if user.is_authenticated %}
                            <a role="button" href="/maildelay.vcf" class="btn btn-primary btn-xs navbar-btn"><i class="glyphicon glyphicon-save"></i> Download Addresses</a>
                            {% endif %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if user.is_authenticated %}
                                <li id="dropdown" class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i>{{ user.email }}  <i class="caret"></i></a>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="/browserid/logout"><i class="glyphicon glyphicon-off"></i>  Logout</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <button type="button" class="browserid-login btn btn-primary navbar-btn">Login</button>
                            {% endif %}
                        </ul>
                    </div> <!-- navbar-collapse -->
                </div> <!-- container -->
            </div> <!-- navbar -->
            <div class="container">
                {% block content %}{% endblock %}
                {% block terms %}{% endblock %}
            </div> <!-- container -->
        </div> <!-- wrap -->
        <div id="footer">
            <div class="container">
                <a id="terms" class="footer-text" href="/terms">Terms & Conditions</a>
                <div id="provider" class="footer-text" >Provided by: <a href="https://adfinis-sygroup.ch"><img src="{% static 'images/adsylogo.png' %}" id="adsylogo" alt="Adfinis SyGroup AG"></a></div>
            </div> <!-- container -->
        </div> <!-- footer -->
        <script src="{% static 'jQuery/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
        {%block bottomscripts%}
        {%endblock%}
        {% browserid_info %}
        {% browserid_js %}
    </body>
</html>
