{% extends 'index.html' %}

{% load staticfiles %}

{% block bodyclass %} class="nopadding"{%endblock%}

{% block header %}
    <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="9000">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
            <li data-target="#carousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img class="img-responsive" src="{% static 'images/c1.png' %}" alt="First steps">
                <div class="carousel-caption">
                    <button class="ghost-button" onclick="location.href='/registration'" type="button">Sign up now!</button>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive" src="{% static 'images/c2.png' %}" alt="Email configuration">
                <div class="carousel-caption">
                    <h1>What is it for?</h1>
                    <p>rmd.io reminds you about unanswered mails and helps you to manage delegated tasks.</p>
                    <p>3d@rmd.io means to remind me again in 3 days.</p>
                    <button class="ghost-button" onclick="location.href='/registration'" type="button">Sign up now!</button>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive" src="{% static 'images/c3.png' %}" alt="Web GUI">
                <div class="carousel-caption">
                    <p>Of course you can manage your mails<br>
                    in the web GUI. You're able to change<br>
                    the due date and time easily by clicking the pen icon.</p>
                    <button class="ghost-button" onclick="location.href='/registration'" type="button">Sign up now!</button>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive" src="{% static 'images/c4.png' %}" alt="Reminder">
                <div class="carousel-caption">
                    <p>After the due date expired, rmd.io will<br>
                    send your mail back to you to remind you about it.<br>
                    Incidentally, attachments are fully supported.</p>
                    <button class="ghost-button" onclick="location.href='/registration'" type="button">Sign up now!</button>
                </div>
            </div>
        </div>

        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
{% endblock %}
