<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Terms & Conditions</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li>
                    Hosted by <a href="https://adfinis-sygroup.ch">Adfinis
                    SyGroup</a> in Switzerland, free of charge.
                </li>
                <li>
                    We do not provide any access to the servers to third
                    parties, including governments or any governmental
                    agencies.
                </li>
                <li>
                    Since we don't do advertisement, we also don't sell
                    your data to any advertisers or anybody else.
                </li>
                <li>We do not read your email, period.</li>
                <li>We implement authentication with Mozilla Persona.
                    <a href="http://www.mozilla.org/en-US/persona/"> Click here</a>
                     to find out more about their T&amp;C.
                </li>
                <li>
                    NO warranties are given with regard to service availability.
                    Adfinis SyGroup may terminate the service at any time; downtimes
                    for maintenance etc. will not be communicated beforehand.
                </li>
            </ul>

            <address>
                Adfinis SyGroup AG<br>
                Keltenstrasse 98<br>
                CH-3018 Bern<br>
                Switzerland
            </address>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
